*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: tahoma,arial;
}
.slider-container{
    margin: 10px auto;
    width: 800px;
    height: 250px;
    position: relative;
}

.slider-container img{
    /* position: absolute; */
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    width: 200px;
    border-radius: 10px;
    height: 100%;
}
.slider-container .slide{
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    width: 800px;
    border-radius: 10px;
    height: 100%;
    display: flex;
}
.slider-container img.active,.slide.active{
    opacity: 1;
}
.slider-container .slide-number{
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.61);
    color: #FFF;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 6px;
    z-index: 2;
}
.slider-controls{
    width: 800px;
    z-index: 3;
    display: flex;
    margin: auto;
}
.slider-controls .prev,
.slider-controls .next{
    background: green;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    user-select: none;
    width: 50px;
}
.slider-controls .prev{
    float: left;
}
.slider-controls .next{
    float: right;
}
.slider-controls .prev.disabled,
.slider-controls .next.disabled{
    background-color: rgba(0, 128, 0, 0.553);
    cursor: no-drop;
}
.slider-controls .indicators{
    width: 60%;
    float: left;
}
.slider-controls .indicators ul{
    margin: 0;
    margin-top: 20px;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 100%;
}
.slider-controls .indicators ul li{
    display: inline-block;
    background: #333;
    font-weight: bold;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    /* line-height: 28px; */
    cursor: pointer;
    margin: 0 2px;
}

.slider-controls .indicators ul li.active{
    background: rgb(0, 128, 0);
    color: white;
}
.slide{
    display: flex;
    gap: 10px;
    /* justify-content: space-evenly; */
    align-items: center;
}
.slide p{
    width: 50%;
    height: 90%;
    float: left;
    overflow-y: auto;
}
.slide img{
    float: right;
}
@media (max-width:750px) {
    .slider-container .slide{
        flex-direction: column;
        height:max-content;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .slider-container{
        width:90%;
        overflow-y: auto;
        min-height: 400px;
        max-height:550px;
    }
    .slide p{
        width:80%;
        height:auto;
        overflow-y: auto;
        margin-bottom: 10px;
    }
    .slider-controls{
        width:350px;
        /* margin-bottom: 100px;
        margin-top: 50px; */
        z-index: 100;
    }
    .slider-container img{
        width:250px;
        height: 200px;
    }
    .slider-controls .indicators ul{
        width: 90%;
    }
    .slider-controls .indicators ul li{
        /* display:none; */
        width: 5px;
        height: 5px;
    }
    /* .slider-controls .prev,
    .slider-controls .next{
        margin-top: 10%;
    }
    .slider-controls .indicators{
        margin-top: 20% ;
} */
    
}